/scripts
/referencias
/curso TU_Delft
/ADPLL.pptx
/semicondutor.docx
/Simulações_matlab
/TEX/main.lot
/TEX/main.pdf
/TEX/main.synctex.gz
/TEX/main.toc
/TEX/fundamentacao.aux
/TEX/introducao.aux
/TEX/main.idx
/TEX/metodologia.aux
/TEX/pretextual.aux
/TEX/resultados.aux
/TEX/anexos.aux
/TEX/Conclusao.aux
/TEX/main.aux
/TEX/main.lof
/TEX/main.log
/TEX/main.loq
